
h1{
    font-size: 34px;
    font-weight: 600;
}
.room-card{
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
.btn i{
    color: white;
}

.card-header{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 18px;
}
.room-card .card-body{
    padding: 18px;
}
.room-pics{
    padding: 16px;
    width: 100%;
    background: var(--light-gray) !important;
    border-radius: var(--border-radius);
    border: 2px solid white;
}

.room-pics img{
    border: 2px solid white;
}
.nemNulla{
    margin-left: -20px;
}
.col-4 .btn, .card-body{
    width: 100% !important;
}

.room-create{
    width: 98%;
    background: var(--gray-2);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    padding: 30px 0 50px;
}
.room-create .input{
    padding: 10px;
}
.room-create form{
    margin: 0 auto;
    width: 90%;
}

.limit-wrapper{
    position: relative;
    width: 70%;
}

.col-2 p, .limit-wrapper{
    margin-left: 20px;
}

.room-create p{
    margin-bottom: 4px;
}

.limit-wrapper input{
    text-align: center;
}
.number{
    color: white !important;
    padding-left: 22px !important;
}

.plus{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.minus{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.plus, .minus{
    background: transparent;
    border: 1px solid white;
    border-radius: var(--border-radius);
    outline: none;
    transition: all .2s;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.plus:hover, .minus:hover{
    background: rgba(0,0,0,0.2);
}
.plus:focus, .minus:focus{
    outline: none;
}

.createRoom{
    margin-top: 28px;
    width: 100%;
}

.room-card .d-flex button{
    width: 100% !important;
}

.leftForm, .rightForm{
    width: 100% !important;
}
.leftForm{
    margin-right: 6px;
}
.rightForm{
    margin-left: 6px;
}
.card-footer{
    border-top: 1px solid white;
    width: 100%;
    padding-bottom: 0;
}


/* Chat room */

.member-wrapper h1{
    text-align: center;
}
.member-wrapper hr{
    height: 4px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    opacity: 1;
}
.member-wrapper h3{
    text-align: center;
}

.chat-wrapper, .member-wrapper{
    background: var(--gray-2);
    border-radius: var(--border-radius);
    padding: 30px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#chat-text{
    overflow-x: auto;
    overflow-y: auto;
    resize: none;
    scroll-behavior: smooth;
    height: 400px;
    background: var(--light-gray);
    border-radius: var(--border-radius);
    display: block;
    padding: 12px;
}
.member-wrapper img{
    border-radius: var(--border-radius);
    border: 2px solid white;
    outline: none;
    height: 100%;
    width: 100%;
}
.chat-wrapper .input{
    padding: 10px;
    margin: 30px 0;
}
.chat-wrapper .input:focus{
    margin: 30px 0;
}
.chat-wrapper .btn{
    width: 100% !important;
    font-weight: 600;
}
.chat-wrapper .btn i{
    margin-right: 4px;
}

.member-wrapper .col-4{
    margin: 8px 0
}

#chat-text .d-flex{
    width: max-content;
    border-radius: var(--border-radius);
    background: rgba(128, 128, 128, 0.575);
    padding: 10px;
}
#chat-text p{
    padding-left: 15px;
    margin-bottom: 10px;
}

.rightBg{
    background: rgba(96,176,244,1);
}
.leftBg{
    background: rgba(24,25,26,1);
}

.chat-img{
    margin-right: 8px;
    border-radius: var(--border-radius);
}
.right img{
    margin-left: 8px;
}
.left img{
    margin-right: 8px;
}
.chat-message{
    border-radius: var(--border-radius);
    padding: 8px;
    width: max-content;
}