{% extends "blog/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">

            <div class="room-create">
                <form id="form" onsubmit="roomValidation();return false;" method="POST">
                    <div class="row">
                        {% csrf_token %}

                        <div class="col-5">
                            <p>Room name:</p>
                            <input type="text" name="title" class="input title">
                        </div>

                        <div class="col-3">
                            <p>Room limit:</p>
                            <div class="limit-wrapper">
                                <input type="number" name="limit" class="input number" value="3" max="5" min="2">
                                <button type="button" onclick="limitAdd()" class="plus"><i class="fas fa-plus"></i></button>
                                <button type="button" onclick="limitRemove()" class="minus"><i class="fas fa-minus"></i></button>
                            </div>
                            <script>
                                const limit = document.getElementsByName("limit")[0]

                                const limitAdd = () =>{
                                    if (limit.value != "5"){
                                        limit.value = parseInt(limit.value) + 1
                                    }
                                }
                                const limitRemove = () =>{
                                    if (limit.value != "2"){
                                        limit.value = parseInt(limit.value) - 1
                                    }
                                }
                            </script>
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary createRoom" name="create_room"><i class="fas fa-plus"></i> Create Room</button>
                        </div>

                    </div>
                </form>
            </div>
            
            <div id="rooms" class="row">
                {% for room in rooms %}

                    <div class="col-4">
                        <div class="card room-card">
                            <div class="card-header">
                                <h1>{{ room.title }}</h1>
                                <div class="room-pics">
                                    {% for user in room.users.all %}
                                        <img src="https://storage.cloud.google.com/peoplebook/{{ user.profile.image }}" height="75" width="75" class="rounded-circle {% if room.users.count != "0" and room.users.count != "1" %}nemNulla{% else %}{% endif %}">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-body">
                                {% if request.user in room.users.all %}
                                    <div class="d-flex">
                                        <form action="{% url 'chat_room' room %}" id="leftForm{{ forloop.counter }}" class="rightForm">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-external-link-square-alt"></i> Enter</button>
                                        </form>

                                        <form action="" method="POST" id="rightForm{{ forloop.counter }}" class="rightForm">
                                            {% csrf_token %}
                                            <input type="hidden" name="room_id" value="{{ room.id }}">
                                            <button type="submit" class="btn btn-danger" name="leave_room">Leave <i class="fas fa-sign-out-alt fa-lg"></i></button>
                                        </form>

                                    </div>
                                {% else %}
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                        <button type="submit" class="btn btn-primary" name="enter_room"><i class="fas fa-sign-in-alt fa-lg"></i> Join</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <p>Created {{ room.get_date }}</p>
                            </div>
                        </div>
                    </div>

                {% empty %}

                    <p>There are 0 chat rooms</p>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}