{% extends "blog/base.html" %}

{% load static %}
{% load custom_template_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="chat-wrapper">
                    <div id="chat-text"></div>
                    <input name="message" type="text" size="80" class="input" placeholder="Write your message here!">
                    <button type="button" id="sendMsg" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
                </div>
            </div>
            <div class="col-4">
                <div class="member-wrapper">
                    <h1>{{ room.title }}</h1>
                    <hr>
                    <h3>Members - {{ room.users.count }}</h3>
                    <hr style="margin-bottom: 20px">
                    <div class="row">
                        {% for user in room.users.all %}
                            <div class="col-4">
                                <a href="{% url 'profile' user.id %}"><img src="/{{ user.profile.image }}" alt="Profile Picture"></a>
                            </div>
                        {% endfor %}

                        {% for user in room.users.all %}

                            {{user}}

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent)
        const container = document.querySelector("#chat-text")

        $(document).ready(function(){
            container.innerHTML = (`Welcome to ${roomName} Chat Room! <br><br>`)
        })

        document.querySelector("#sendMsg").onclick = function(e){
            var message = document.getElementsByName("message")[0]

            if (message.value == ""){
                
                message.animate([
                    {boxShadow: 'none'},
                    {boxShadow: '0 0 0 0.25rem rgba(232, 94, 108, 0.8)'},
                    {boxShadow: '0 0 0 0.25rem rgba(232, 94, 108, 0.8)'},
                    {boxShadow: 'none'},
                    {boxShadow: '0 0 0 0.25rem rgba(232, 94, 108, 0.8)'},
                    {boxShadow: '0 0 0 0.25rem rgba(232, 94, 108, 0.8)'},
                    {boxShadow: 'none'},
                ], {
                    duration: 850,
                    iterations: 1,
                })

            }

            else{
                chatSocket.send(JSON.stringify({
                    'user_id': "{{ request.user.id }}",
                    'message': message.value,
                }))

                message.value = ""
            }

        }

        // 
        // FOR HEROKU USE WSS:// ELSE WS://
        //

        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/')

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)

            if (data["user_id"] == "{{request.user.id}}"){
                container.innerHTML += 
                    (`
                    <div class="d-flex right">
                        <h1>${data.user_id}</h1>
                        <div class="chat-message rightBg">
                            ${data.message}
                        </div>
                        <img src="/{{request.user.profile.image}}" height="40" width="40" class="chat-img">
                        <p>${data.time}</p>
                    </div>
                    <br>
                    `)
            }
            else{
                container.innerHTML +=
                    (`
                    <div class="d-flex left">
                        <h1>${data.user_id}</h1>
                        <img src="/${data.image}" height="40" width="40" class="chat-img">
                        <div class="chat-message leftBg">
                            ${data.message}
                        </div>
                    </div>
                    <p>${data.time}</p>
                    <br>
                    `)
            }

            container.scrollTop = container.scrollHeight 
        }

    </script>
{% endblock %}