{% extends "blog/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css'%}" type="text/css">
{% endblock %}

{% block content %}

    <div class="container">
        <div id="proba"></div>
        <div class="row justify-content-center">
            <div class="col-12">
                {% for post in posts %}
                    <div class="card posts" id="post{{forloop.counter}}">
                        <div class="card-header">
                            <a href="{% url 'profile' post.author.id %}">
                                <img src="/{{ post.author.profile.image }}" height="52" class="rounded-circle" alt="Profile Picture">
                            </a>
                            <div class="header-text">
                                <a href="{% url 'profile' post.author.id %}"><h4>{{ post.author.get_full_name }}</h4></a>
                                <p><i class="fas fa-caret-right"></i> {{ post.date_posted|date:"Y.m.d  G:i" }}</p>
                            </div>

                            <a href="" id="postDropMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-h fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="postDropMenu">
                                <li><a class="dropdown-item drop-primary" href=""><i class="fas fa-save"></i> Save post</a></li>
                                <li><a class="dropdown-item drop-primary" href=""><i class="fas fa-thumbs-up"></i> Like post</a></li>
                                <li><a class="dropdown-item drop-primary" href=""><i class="fas fa-share-alt"></i> Share post</a></li>
                                {% if post.author == request.user %}
                                    <hr>
                                    <form onsubmit="deletePost({{forloop.counter}});return false;" method="POST">
                                        <input type="hidden" value="{{post.id}}" id="remove_post_id{{forloop.counter}}">
                                        <li><button type="submit" class="dropdown-item drop-danger"><i class="fas fa-trash-alt"></i> Remove post</button></li>
                                    </form>
                                    <li><a class="dropdown-item drop-primary" href="{% url 'post_settings' post.id %}">Settings</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="card-body">
                            <p class="post-content">{{ post.content }}</p>
                            <div class="up-like-comment">
                                <p class="post-likes"><i class="fas fa-thumbs-up"></i> <span id="likeCount{{forloop.counter}}">{{ post.likes.count }}</span></p>
                                <p class="post-comments">{{ post.comments.count }} Comments</p>
                            </div>
                            <div class="down-like-comment">                    
                                <hr>
                                <form onsubmit="like({{forloop.counter}});return false;" id="likeForm{{forloop.counter}}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn full-btn like {% for likes in post.likes.all %}{% if request.user == likes.user %}active {% endif %}{% endfor %}" name="likebutton" id="likeContainer{{forloop.counter}}"><i class="fas fa-thumbs-up" id="likeIcon{{forloop.counter}}"></i> <span>Like</span></button>
                                        </div>
                                        <div class="col">
                                            <a onclick="focusComment({{forloop.counter}})" id="commentContainer{{forloop.counter}}" class="btn full-btn comment"><i class="fas fa-comment"></i> Comment</a>
                                        </div>
                                    </div>
                                    <input type="hidden" value="{{ post.id }}" id="post_id{{forloop.counter}}">
                                </form>
                                <script>
                                    {% for likes in post.likes.all %}
                                        {% if request.user == likes.user %}
                                            $(document).ready(function(){
                                                alreadyLiked({{forloop.parentloop.counter}}, status="unlike")
                                                changeLikeCount(id={{forloop.parentloop.counter}}, status="me")
                                            })
                                        {% endif %}
                                    {% endfor %}
                                </script>
                                <hr>
                            </div>

                            <div id="newComment{{forloop.counter}}">
                            </div>

                            {% for comment in comments %}

                                {% if comment.post.id == post.id %}
                                    <div class="comment">
                                        <div class="card-header">
                                            <a href="{% url 'profile' comment.author.id %}">
                                                <img src="/{{ comment.author.profile.image }}" height="36" alt="Profile Picture">
                                            </a>
                                        </div>
                                        <div class="comment-body">
                                            <a href="{% url 'profile' comment.author.id %}">
                                                <h5>{{ comment.author.get_full_name }}</h5>
                                            </a>
                                            <p class="post-content">{{ comment.content }}</p>
                                            
                                            <div class="badge comment-like-count" id="commentLikeCountBadge{{forloop.counter}}"><i class="fas fa-thumbs-up"></i> <span id="commentLikeCount{{forloop.counter}}">{{ comment.likes.count }}</span></div>
                                            
                                            <div class="badge like-list" id="like-list{{forloop.counter}}">
                                                <ul id="like-list-ul{{forloop.counter}}">
                                                    {% for user in comment.likes.all %}
                                                        <li>{{user.get_full_name}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <script>
                                                $(document).ready(function(){
                                                    likeCommentList({{forloop.counter}}, "", '{{request.user.get_full_name}}')
                                                })
                                            </script>
                                            <script>
                                                {% if request.user in comment.likes.all %}
                                                        $(document).ready(function(){
                                                            alreadyCommentLiked({{forloop.counter}}, "unlike", '{{request.user.get_full_name}}')
                                                        })
                                                {% endif %}
                                            </script>
                                            <form method="POST" onsubmit="likeComment({{forloop.counter}}, '{{request.user.get_full_name}}');return false" id="likeCommentForm{{forloop.counter}}" class="commentLike">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{comment.id}}" id="comment_id{{forloop.counter}}">
                                                <button type="submit"><span id="likeCommentIcon{{forloop.counter}}">Like</span><span style="color: white !important"> · Reply </span><span>· {{comment.date_posted|date:"M j. H:i"}}</span></button>
                                            </form>
                                            <div class="sub-comment">
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}

                            <div id="newComment{{forloop.counter}}">
                            </div>

                            {% if request.user.is_authenticated %}
                                <form method="POST" id="comment" onsubmit="addComment({{forloop.counter}}, '{{request.user.profile.image}}', '{{request.user.get_full_name}}');return false;">
                                    <div class="post-wrapper">
                                        {% csrf_token %}
                                        <img src="/{{ request.user.profile.image }}" alt="Profile Picture" height="36">
                                        <div class="input-container">
                                            <input type="hidden" value="{{ post.id }}" id="comment_post_id{{forloop.counter}}">
                                            <textarea type="text" name="content" id="comment{{forloop.counter}}" placeholder="Write a comment!" class="input"></textarea>
                                            <button type="submit" class="btn full-btn" name="commentbutton"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}