{% extends 'blog/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="form-wrapper">
        <div class="row">
            <div class="col-md-7 col-sm-12 order-md-last">
                <div class="left-section">
                    <h1>Login</h1>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                            {{ field.label }}
                            <div class="input-container">
                                {{ field|add_class:"input" }}
                                <div class="icon-wrapper">
                                    <i class="
                                        {% if field.label == 'Username' %}
                                            fas fa-user
                                        {% elif field.label == 'Password' %}
                                            fas fa-key
                                        {% endif %}
                                    "></i>
                                </div>
                            </div>
                            {% if field.errors %}
                                <div class="alert alert-danger custom-alert">
                                    {{ field.errors }} 
                                    {% if field.help_text %}
                                    <ul class="errorlist">
                                        <li>{{ field.help_text }}</li>
                                    </ul>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" name="submit" class="btn btn-primary" style="float: right;">Sign in <i style="margin-left: 4px;" class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 order-md-first">
                <div class="right-section">
                    <h1>Login to PeopleBook</h1>
                    <span class="first">Sign in to get full access to our services.</span>
                    <div class="or-register">
                        <span>Simply login with</span>
                        <div class="row">
                            <div class="col-12">
                                <a href="" class="btn full-btn googl-btn"><img src="https://storage.cloud.google.com/peoplebook{% static 'pics/google.png' %}" height="35px"></a>              
                            </div>
                            <div class="col-12">
                                <a href="" class="btn full-btn aapl-btn"><img src="https://storage.cloud.google.com/peoplebook{% static 'pics/apple.png' %}" height="35px"></a>
                            </div>
                        </div>
                    </div>
                    <div class="right-section-bottom">
                        <span>Don't have an account? <a href="{% url 'register' %}">Click here.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}