{% extends 'blog/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
        <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="login-wrapper">
        <div class="form-wrapper">
            <h1>Register</h1>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {% for field in form %}
                {{ field.label }}
                <div class="input-container">
                    {{ field|add_class:"input" }}
                    {% if field.label == 'Profile picture' %}
                        <button type="button" id="getImg" class="btn btn-primary">Grab an image from here</button>
                        <script>
                            document.getElementById('id_image').onchange = function(){
                                document.getElementById("getImg").innerHTML = document.getElementById("id_image").value.split("\\").pop()
                            };

                            document.getElementById('getImg').onclick = function(){
                                document.getElementById('id_image').click();
                            };
                        </script>
                    {% endif %}
                    <div class="icon-wrapper">
                        <i class="
                            {% if field.label == 'Username' or field.label == 'First name' or field.label == 'Last name' %}
                                fas fa-user
                            {% elif field.label == 'Email address' %}
                                fas fa-envelope
                            {% elif field.label == 'Birth date' %}
                                far fa-calendar-alt
                            {% elif field.label == 'Country' %}
                                fas fa-globe-europe
                            {% elif field.label == 'Gender' %}
                                fas fa-venus-mars
                            {% elif field.label == 'Profile picture' %}
                                far fa-image
                            {% elif field.label == 'Password' or field.label == 'Password confirmation' %}
                                fas fa-key
                            {% endif %}
                        "></i>
                    </div>
                </div>
                {% if field.errors %}
                    <div class="alert alert-danger custom-alert">
                        {{ field.errors }} 
                        {% if field.help_text %}
                        <ul class="errorlist">
                            <li>{{ field.help_text }}</li>
                        </ul>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
                <div class="bottom">
                    <button type="submit" name="submit" class="btn btn-primary">Sign up</button>
                    <a href="{% url 'login' %}" style="font-size: 18px;"><u><i>Already have an account?</i></u></a>      
                </div>                  
            </form>
        </div>
    </div>
{% endblock %}