{% extends "blog/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
        #id_image, #id_background{ display: none; }
        #id_bio{ padding-top: 8px; min-height: 80px; }
        .form-wrapper h1{ padding: 12px; padding-bottom: 0; }
        .form-wrapper form{ padding: 10px; }
        .form-wrapper hr{ margin-bottom: 20px; }
    </style>
{% endblock %}

{% block content %}

    <div class="login-wrapper">
        <div class="form-wrapper">
            <h1>Profile Update</h1>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in uform %}
                    {{ field.label }}
                    <div class="input-container">
                        {{ field|add_class:"input" }}
                        <div class="icon-wrapper">
                            <i class="
                                {% if field.label == 'Username' or field.label == 'First name' or field.label == 'Last name' %}
                                    fas fa-user
                                {% elif field.label == 'Email address' %}
                                    fas fa-envelope
                                {% elif field.label == 'Birth date' %}
                                    far fa-calendar-alt
                                {% endif %}
                            "></i>
                        </div>
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger custom-alert">
                            {{ field.errors }} 
                            {% if field.help_text %}
                            <ul class="errorlist">
                                <li>{{ field.help_text }}</li>
                            </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% for field in pform %}
                    {{ field.label }}
                    <div class="input-container">
                        {{ field|add_class:"input" }}
                        <div class="icon-wrapper">
                            <i class="
                                {% if field.label == 'Bio' %}
                                    fas fa-info-circle
                                {% elif field.label == 'Birth date' %}
                                    far fa-calendar-alt
                                {% elif field.label == 'Gender' %}
                                    fas fa-venus-mars
                                {% elif field.label == 'Country' %}
                                    fas fa-globe-europe
                                {% elif field.label == 'Image' or field.label == 'Background' %}
                                    far fa-image
                                {% endif %}
                            "></i>
                        </div>
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger custom-alert">
                            {{ field.errors }} 
                            {% if field.help_text %}
                            <ul class="errorlist">
                                <li>{{ field.help_text }}</li>
                            </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
                {{ imgform }}
                {{ bgform }}

                <div class="input-container">
                    <button type="button" id="getImg" class="input">Upload a new image</button>
                    <div class="icon-wrapper">
                        <i class="fas fa-portrait"></i>
                    </div>
                </div>

                <div class="input-container">
                <button type="button" id="getBg" class="input">Upload a new background</button>
                    <div class="icon-wrapper">
                        <i class="fas fa-image"></i>
                    </div>
                </div>

                <script>
                    var id_image = document.getElementById("id_image")
                    var getImg = document.getElementById("getImg")

                    id_image.onchange = function(){
                        if (id_image.value == ""){
                            getImg.innerHTML = "Upload a new image"
                        }
                        else{
                            getImg.innerHTML = id_image.value.split("\\").pop()
                        }
                    };

                    getImg.onclick = function(){
                        id_image.click();
                    };

                    var id_background = document.getElementById("id_background")
                    var getBg = document.getElementById("getBg")

                    id_background.onchange = function(){
                        if (id_background.value == ""){
                            getBg.innerHTML = "Upload a new image"
                        }
                        else{
                            getBg.innerHTML = id_background.value.split("\\").pop()
                        }
                    };

                    getBg.onclick = function(){
                        id_background.click();
                    };
                </script>
                
                <button type="submit" name="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>

{% endblock %}